<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <variable name="logType" value="[${uppercase:${level}}]" />
    <variable name="messageOrDetailedException" value="${message} ${onexception: \=> - ${exception:format=type,message,stackTrace:maxInnerExceptionLevel=5:innerExceptionFormat=type,message,stackTrace}}"/>
        
    <targets>
        <!-- Standard loggers for Visual Studio and Windows -->
        <target xsi:type="SplitGroup" name="defaultLoggers">            
            <target xsi:type="Debugger" name="debugger" layout="${visualStudioLocation} ${logType} ${logger} - ${messageOrDetailedException}" />
            <target xsi:type="OutputDebugString" name="Windows" layout="${applicationName} ${logType} ${logger} - ${messageOrDetailedException}" />            
        </target>
        <target xsi:type="SplitGroup" name="userLoggers">
            <target xsi:type="ColoredConsole" name="console" layout="${longdate} ${logType} ${logger}: ${messageOrDetailedException}" /> 
        </target>
    </targets>

    <rules>
        <!-- Send all events to default loggers -->
        <logger name="*" writeTo="defaultLoggers" minlevel="Info" />        
        
        <!-- Send info or higher events to user logs -->
        <logger name="*" writeTo="userLoggers" minlevel="Info" />
    </rules>
</nlog>